// Override Bootstrap's default color variables
$primary: #222831; 
$secondary: #393E46;  
$light: #EEEEEE;
$info: #dd952a;


@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";  
@import "bootstrap/scss/mixins";  
@import "bootstrap/scss/bootstrap"; 
@import "font-awesome/scss/font-awesome";

.custom-prev, .custom-next {
    font-size: 2.3rem;
    color: $secondary; // or any other color
  }
  